<mat-grid-list cols="12" rowHeight="100px">
  <mat-grid-tile [colspan]="12" [rowspan]="1"></mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="6"></mat-grid-tile>

  <mat-grid-tile style="width: 100%" [colspan]="8" [rowspan]="6" style.background="black">
    <mat-card align="center" class="login-card">
      <img src="/assets/logo.png">
      <br><br>
      <mat-card-header>
        <mat-card-title align="right"style="font-size: xx-large;font-family: Helvetica">&nbsp;&nbsp;&nbsp;&nbsp;Login</mat-card-title>

      </mat-card-header>
      <mat-card-content>
        <form class="login-form" style="width: 100%">
          <table style="width: 100%" cellspacing="0">
            <tr>
              <td>
                <mat-form-field style="width: 100%" >
                  <input matInput (keyup.enter)="login()" placeholder="Username" [formControl]="username" name="username" required>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td><mat-form-field style="width: 100%">
                <input matInput (keyup.enter)="login()" placeholder="Password" [formControl]="password" type="password" name="password" required>
              </mat-form-field></td>
            </tr></table>
        </form>
        <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (keydown.enter)="login()" (click)="login()" color="red">Login</button>
      </mat-card-actions>
    </mat-card>


  </mat-grid-tile>
</mat-grid-list>

